<!DOCTYPE html>
<html>
<head>
  <title>MyKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script>
    // class @MyApp
    //   @bootsrap: ->
    //     # kick off

    // var MyApp = {
    //   bootsrap: function() {
    //     // Kick off the whole thing
    //   }
    // }
    // MyApp.bootsrap();
  </script>

</body>
</html>
